<?xml version="1.0" encoding="utf-8"?>

<Configuration status="warn" name="MyApp">
  <Properties>
    <Property name="logdir">/home/access/PPIWS</Property>
    <Property name="layout">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %style{%C}{cyan} %highlight{ %-5level: %msg%n%throwable}{FATAL=bright_red, ERROR=red, WARN=bg_#5792e6 fg_#eef26b bold, INFO=green, DEBUG=#3fe0a8, TRACE=white}</Property>
  </Properties>

  <Appenders>
    <RollingFile name="RollingFile" fileName="${logdir}/PPIWS.log"
      filePattern="${logdir}/PPIWS.%d{dd-MM-yyyy}.log.gz">
      <PatternLayout pattern="${layout}"></PatternLayout>  
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>                          
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>